
logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
project/.bloop/*
.metals/*
.vscode/*
.bloop/*
.bsp/*
.bsp/sbt.json
project/metals.sbt
project/.bloop/integration-catalogue-admin-api-build.json
project/.bloop/bloop.settings.json
